# OS
.DS_Store
Thumbs.db
desktop.ini

# VS Code / IDE
.vscode/
.idea/

# Logs
*.log

# Temporary files
*.tmp
*.bak

# Python
__pycache__/
*.pyc

# Node (если вдруг потом появится)
node_modules/

# Env / secrets (на будущее)
.env